<div class="wrapper wrapper-darker">
  <div class="row">
    <div class="welcome-text">
      <h1>Contact Us</h1>
      <p>Turpis pellentesque? Integer dignissim nascetur, scelerisque dignissim pulvinar urna tincidunt etiam non pid urna urna rhoncus.</p>
    </div>
  </div>
</div>

<div class="row">

	<div class="large-8 columns">

    <h2>Enquiry Form</h2>

    <p>Turpis pellentesque? Integer dignissim nascetur, scelerisque dignissim pulvinar urna tincidunt etiam non pid urna urna rhoncus.</p>

		<form>

			<div class="row">
      			<div class="large-12 columns">
        			<label>Contact Name</label>
        			<input type="text" placeholder="Contact Name">
      			</div>
    		</div>

			<div class="row">
      			<div class="large-12 columns">
        			<label>Contact Number</label>
        			<input type="text" placeholder="Contact Number">
      			</div>
    		</div>

			<div class="row">
      			<div class="large-12 columns">
        			<label>Email Address</label>
        			<input type="email" placeholder="youremail@youremail.com">
      			</div>
    		</div>

			<div class="row">
      			<div class="large-12 columns">
        			<label>Your Message</label>
        			<textarea placeholder="Message" rows="10"></textarea>
      			</div>
    		</div>

    		<input class="button large-6" type="submit" value="Send Message">

    	</form>

	</div>

	<div class="sidebar large-4 columns">

		<div class="sidebar-feature">
			<h2>Address</h2>
			<ul>
				<li>Norton Park</li>
        <li>57 Albion Road</li>
        <li>Edinburgh</li>
        <li>EH7 5QY</li>
			</ul>
		</div>

    <div class="sidebar-feature">
      <h2>Contact Info</h2>
      <ul>
        <li>Tel: 0131 123 4567</li>
        <li>Email: info@cyrenians.org.uk</li>
      </ul>
    </div>   

	</div>

</div>