<div class="wrapper wrapper-intro wrapper-intro-home wrapper-darker">
	<div class="row">
			<h1 class="large-8 columns">Some sort of really strong, punchy message</h1>
	</div>
</div>

<div class="row">

	<div class="large-4 columns">
		<h2 class="button-heading"><%= link_to "Donate", new_donor_item_path, class:"button expand" %></h2>
		<p>Aliquam habitasse! Sed! Turpis eu integer amet rhoncus etiam, adipiscing porttitor platea ut pulvinar. Elit risus porta. Urna pulvinar, sit urna in velit ac est, ridiculus aenean risus? Aenean sit aliquet magna dis ultricies penatibus.</p>
	</div>

	<div class="large-4 columns">
	<h2 class="button-heading"><%= link_to "Needed Items", needed_items_path, class:"button expand" %></h2>
		<p>Aliquam habitasse! Sed! Turpis eu integer amet rhoncus etiam, adipiscing porttitor platea ut pulvinar. Elit risus porta. Urna pulvinar, sit urna in velit ac est, ridiculus aenean risus? Aenean sit aliquet magna dis ultricies penatibus.</p>
	</div>

	<div class="large-4 columns">
	<h2 class="button-heading"><%= link_to "Browse", needs_path, class:"button expand" %></h2>
		<p>Aliquam habitasse! Sed! Turpis eu integer amet rhoncus etiam, adipiscing porttitor platea ut pulvinar. Elit risus porta. Urna pulvinar, sit urna in velit ac est, ridiculus aenean risus? Aenean sit aliquet magna dis ultricies penatibus.</p>
	</div>

</div>

<div class="wrapper">

	<div class="row">

		<img src="http://placekitten.com/300/200" alt="" class="large-4 columns">

		<div class="large-8 columns">
			<h2>How you can help</h2>
			<p>Aliquam habitasse! Sed! Turpis eu integer amet rhoncus etiam, adipiscing porttitor platea ut pulvinar. Elit risus porta. Urna pulvinar, sit urna in velit ac est, ridiculus aenean risus? Aenean sit aliquet magna dis ultricies penatibus. Aliquam habitasse! Sed! Turpis eu integer amet rhoncus etiam, adipiscing porttitor platea ut pulvinar. Elit risus porta. Urna pulvinar, sit urna in velit ac est, ridiculus aenean risus? Aenean sit aliquet magna dis ultricies penatibus.</p>
			<p><a href="">Find out more</a></p>
		</div>

	</div>

</div>

<%= render "/layouts/latest_news" %>