<form class="search-form" style="padding-top: 40px" action="/needed_items/search" method="post">
  <label class="search-label" for="search-items">What would you like to give?</label> <br>
  <input class="search-input" name="search-items" type="search" autofocus>
</form>
<form class="search-form" action="/needs/search" method="post">
  <label class="search-label" for="search-people">Looking for people and stories?</label> <br>
  <input class="search-input" name="search-people" type="search">
</form>
