<div class="row">
  <div class="small-12-columns">
    <h2>Edit this Need</h2>
    <div class="new-form">
      <%= render partial: 'form', locals => {title: @existing_title, story: @existing_story, complete: @existing_status, thanks: @existing_thanks} %>
    </div>
  </div>
</div>

<%= render 'create_item' %>