<div class="wrapper wrapper-darker">
  <div class="row">
    <div class="welcome-text">
      <h1>Current Needs</h1>
      <p>Turpis pellentesque? Integer dignissim nascetur, scelerisque dignissim pulvinar urna tincidunt etiam non pid urna urna rhoncus.</p>
    </div>
  </div>
</div>


<div class="row">
  <form class="search-form">
    <input class="search-input" name="search" type="search" autofocus
           value=<%= "#{params[:search]}" %> placeholder="What would you like to hear about?">
  </form>
  <br>
  <% if @needs.length > 0 %>
    <div id="infinite-scroll">
      <% @needs.each do |need| %>
        <div class="infinite large-3 columns">
          <div class="item-container">
            <%= link_to image_tag(need.image_url, class: "story-image"), need_path(need) %>
            <h4><%= link_to need.title, need_path(need), class: "item-link" %></h4>
            <% if need.user && need.user.name != "" %>
              <p><i>Written by <%= need.user.name %></i></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <nav id="page_nav">
      <a href="page2.html"></a>
    </nav>

  <% else %>
    <h4>There are no current needs to show.</h4>
  <% end %>

</div>