<div class="wrapper wrapper-darker">
	<div class="row">
		<div class="welcome-text">
			<h1>New Need</h1>
			<p>Turpis pellentesque? Integer dignissim nascetur, scelerisque dignissim pulvinar urna tincidunt etiam non pid urna urna rhoncus.</p>
		</div>
	</div>
</div>

<div class="row">
  <div class="large-8 columns">
    <h2>Create a New Need!</h2>
    <div class="new-form">
      <%= render partial: 'form', :locals => {title: "", story: "", complete: "", thanks: ""} %>
    </div>
  </div>
</div>