<div class="row">
  <div class="small-12-columns">
    <h2>Edit this collection spot!</h2>
    <div class="new-form">
      <%= render partial: 'form', :locals => {name: @existing_name, address_1: @existing_address_1, address_2: @existing_address_2, city: @existing_city, region_state: @existing_region_state, postcode: @existing_postcode, country: @existing_country, directions: @existing_directions} %>
    </div>
  </div>
</div>