<div class="row">
  <div class="small-12-columns">
    <h2>Add a new collection spot!</h2>
    <div class="new-form">
      <%= render partial: 'form', :locals => {name: "", address_1: "", address_2: "", city: "", region_state: "", postcode: "", country: "", directions: ""} %>
    </div>
  </div>
</div>