<div class="row">
  <div class="small-12-columns">
    <h2>Edit this Needed Item!</h2>
    <div class="new-form">
      <%= render partial: 'form', locals => {name: @existing_name, description: @existing_description, status: @existing_status, image_url: @existing_image, oversized: @existing_oversized, subcategory: @existing_subcategory, need_id: @existing_need_id}
    </div>
  </div>
</div>