<div class="row">
  <div class="small-12-columns">
    <h2>Create a New Needed Item!</h2>
    <div class="new-form">
      <%= render partial: 'form', locals => {name: "", description: "", status: nil, image_url: nil, oversized: "unchecked", subcategory: nil, need_id: nil}
    </div>
  </div>
</div>