<div class="wrapper wrapper-darker">
	<div class="row">
		<div class="welcome-text">
			<h1>New Needed Item</h1>
			<p>Turpis pellentesque? Integer dignissim nascetur, scelerisque dignissim pulvinar urna tincidunt etiam non pid urna urna rhoncus.</p>
		</div>
	</div>
</div>


<div class="row">
  <div class="large-8 columns">
    <h2>Create a New Needed Item!</h2>
    <div class="new-form">
      <%= render partial: 'form', :locals => {name: "", description: "", status: nil, image_url: nil, oversized: 0, subcategory: nil, need_id: nil} %>
    </div>
  </div>
</div>