<div class="wrapper wrapper-darker">
	<div class="row">
		<div class="welcome-text">
			<h1><span id="page_heading" data-mercury="full"><%= raw @page.heading %></span></h1>
			<span id="page_caption" data-mercury="full"><%= raw @page.caption %></span>
		</div>
	</div>
</div>

<div class="row">

	<div class="large-8 columns">

		<article class="blog row">
			<h2>Blog Post Number 1</h2>
			<time class="blog-time" datetime="2013-10-05">5 October 2013</time>
			<p class="opening">Aliquam habitasse! Sed! Turpis eu integer amet rhoncus etiam, adipiscing porttitor platea ut pulvinar. Elit risus porta. Urna pulvinar, sit urna in velit ac est, ridiculus aenean risus? Aenean sit aliquet magna dis ultricies penatibus.</p>
				<div style="-webkit-column-count: 2;">
					<p>Nunc et nunc placerat, cras pulvinar rhoncus rhoncus enim et sit, penatibus, quis risus scelerisque? Mattis ridiculus urna in sociis elementum parturient.</p>
					<p>Tortor ut ac aliquam sit augue porta a integer pulvinar cursus a. Nunc et nunc placerat, cras pulvinar rhoncus rhoncus enim et sit, penatibus, quis risus scelerisque? Mattis ridiculus urna in sociis elementum parturient in scelerisque sociis lacus massa.</p>
					<p>Nunc et nunc placerat, cras pulvinar rhoncus rhoncus enim et sit, penatibus, quis risus scelerisque? Mattis ridiculus urna in sociis elementum parturient in scelerisque sociis lacus massa a ac tincidunt pulvinar!</p>
				</div>
			<a href="" class="button large-6 columns">Reply on Twitter</a>
			<a href="" class="button large-6 columns">Share</a>
		</article>

		<article class="blog row">
			<h2>Blog Post Number 2</h2>
			<time class="blog-time" datetime="2013-10-04">4 October 2013</time>
			<p class="opening">Aliquam habitasse! Sed! Turpis eu integer amet rhoncus etiam, adipiscing porttitor platea ut pulvinar. Elit risus porta. Urna pulvinar, sit urna in velit ac est, ridiculus aenean risus? Aenean sit aliquet magna dis ultricies penatibus.</p>
				<div style="-webkit-column-count: 2;">
					<p>Nunc et nunc placerat, cras pulvinar rhoncus rhoncus enim et sit, penatibus, quis risus scelerisque? Mattis ridiculus urna in sociis elementum parturient.</p>
					<p>Tortor ut ac aliquam sit augue porta a integer pulvinar cursus a. Nunc et nunc placerat, cras pulvinar rhoncus rhoncus enim et sit, penatibus, quis risus scelerisque? Mattis ridiculus urna in sociis elementum parturient in scelerisque sociis lacus massa.</p>
					<p>Nunc et nunc placerat, cras pulvinar rhoncus rhoncus enim et sit, penatibus, quis risus scelerisque? Mattis ridiculus urna in sociis elementum parturient in scelerisque sociis lacus massa a ac tincidunt pulvinar!</p>
				</div>
			<a href="" class="button large-6 columns">Reply on Twitter</a>
			<a href="" class="button large-6 columns">Share</a>
		</article>

		<article class="blog row">
			<h2>Blog Post Number 3</h2>
			<time class="blog-time" datetime="2013-10-03">3 October 2013</time>
			<p class="opening">Aliquam habitasse! Sed! Turpis eu integer amet rhoncus etiam, adipiscing porttitor platea ut pulvinar. Elit risus porta. Urna pulvinar, sit urna in velit ac est, ridiculus aenean risus? Aenean sit aliquet magna dis ultricies penatibus.</p>
				<div style="-webkit-column-count: 2;">
					<p>Nunc et nunc placerat, cras pulvinar rhoncus rhoncus enim et sit, penatibus, quis risus scelerisque? Mattis ridiculus urna in sociis elementum parturient.</p>
					<p>Tortor ut ac aliquam sit augue porta a integer pulvinar cursus a. Nunc et nunc placerat, cras pulvinar rhoncus rhoncus enim et sit, penatibus, quis risus scelerisque? Mattis ridiculus urna in sociis elementum parturient in scelerisque sociis lacus massa.</p>
					<p>Nunc et nunc placerat, cras pulvinar rhoncus rhoncus enim et sit, penatibus, quis risus scelerisque? Mattis ridiculus urna in sociis elementum parturient in scelerisque sociis lacus massa a ac tincidunt pulvinar!</p>
				</div>
			<a href="" class="button large-6 columns">Reply on Twitter</a>
			<a href="" class="button large-6 columns">Share</a>
		</article>

	</div>

	<div class="sidebar large-4 columns">

		<div class="sidebar-feature">
			<h2>Categories</h2>
			<ul>
				<li><a href="">News</a></li>
				<li><a href="">Stories</a></li>
				<li><a href="">Articles</a></li>
			</ul>
		</div>

		<div class="sidebar-feature">
			<h2>Archive</h2>
			<ul>
				<li><a href="">October</a></li>
				<li><a href="">September</a></li>
				<li><a href="">August</a></li>
				<li><a href="">July</a></li>
				<li><a href="">June</a></li>				
			</ul>
		</div>

	</div>

</div>