<div class="wrapper wrapper-darker">
	<div class="row">
		<div class="welcome-text">
			<h1><span id="page_heading" data-mercury="full"><%= raw @page.heading %></span></h1>
			<span id="page_caption" data-mercury="full"><%= raw @page.caption %></span>
		</div>
	</div>
</div>

<div class="row">

	<div class="large-8 columns">

		<p class="opening"><span id="page_opening_1" data-mercury="full"><%= raw @page.opening_1 %></span></p>

		<span id="page_content_1" data-mercury="full"><%= raw @page.content_1 %></span>

	</div>

	<div class="sidebar large-4 columns">

		<div class="sidebar-feature">

			<form>
				<label>Search</label>
				<input type="text">
			</form>

		</div>

	</div>

</div>

<div class="row">

	<h2>Subcategories</h2>

	<ul>
		<li><a href="" class="button">Dishwashers</a></li>
	</ul>

</div>


<div class="row">

	<h2>All Categories</h2>



</div>