<footer class="footer">

<div class="wrapper wrapper-darker">

<div class="social row">
	<h2>Social</h2>
	<p>Aliquam habitasse! Sed! Turpis eu integer amet rhoncus etiam, adipiscing porttitor platea ut pulvinar. Elit risus porta. liquam habitasse! Sed! Turpis eu integer amet rhoncus etiam, adipiscing porttitor platea ut pulvinar. Elit risus porta.</p>
	<a class="social-twitter"><img src="/assets/twitter.svg" width="52" height="52" alt></a>
	<a class="social-facebook"><img src="/assets/facebook.svg" width="50" height="50" alt></a>
</div>

</div>

<div class="partners row">

	<h2>Our Partners</h2>

	<div class="large-4 columns">
		<img src="/assets/spacer.png" width="300" height="100" alt="">
	</div>

	<div class="large-4 columns">
		<img src="/assets/spacer.png" width="300" height="100" alt="">
	</div>

	<div class="large-4 columns">
		<img src="/assets/spacer.png" width="300" height="100" alt="">
	</div>

</div>

<div class="footer-links row">

	<ul>
		<li>&copy; 2013 Cyrenians</li>
		<li><a href="">Legal</a></li>
		<li><a href="">Privacy and Cookies Policy</a></li>
		<li><a href="">About this Site</a></li>
	</ul>

</div>

</footer>