<footer class="footer">
	<% @footer = Page.find_by_label("footer") %>

<div class="wrapper wrapper-darker">

<div class="social row">
	<h2><span id="page_heading" data-mercury="full"><%= raw @footer.heading %></span></h2>
	<span id="page_caption" data-mercury="full"><%= raw @footer.caption %></span>
	<a class="social-twitter"><img src="/assets/twitter.svg" width="52" height="52" alt></a>
	<a class="social-facebook"><img src="/assets/facebook.svg" width="50" height="50" alt></a>
</div>

</div>

<div class="partners row">

	<h2><span id="page_subheading_1" data-mercury="full"><%= raw @footer.subheading_1 %></span></h2>

	<div class="large-4 columns">
		<img src="/assets/spacer.png" width="300" height="100" alt="">
	</div>

	<div class="large-4 columns">
		<img src="/assets/spacer.png" width="300" height="100" alt="">
	</div>

	<div class="large-4 columns">
		<img src="/assets/spacer.png" width="300" height="100" alt="">
	</div>

</div>

<div class="footer-links row">

	<ul>
		<li>&copy; <span id="page_subheading_2" data-mercury="full"><%= raw @footer.subheading_2 %></span></li>
		<li><a href="">Legal</a></li>
		<li><a href="">Privacy and Cookies Policy</a></li>
		<li><a href="">About this Site</a></li>
	</ul>

</div>

</footer>