
<!-- HEADER AREA -->
<div class="row">
    <header class="header">
        <h1 class="logo"><a href="">Give In Kind</a></h1>
        <ul class="primary-nav">
            <li><%= link_to "About Us", "static_pages/about_us" %></li>
            <li><a href="#">Browse</a></li>
            <li><a href="#">Donate</a></li>
            <li><%= link_to "Blog", "static_pages/blog" %></li>
            <li><%= link_to "FAQs", "static_pages/faqs" %></li>
            <li><%= link_to "Contact", "static_pages/contact" %></li>
        </ul>
    </header>
</div>