<!-- HEADER AREA -->
<header class="full-width header-area">
    <div class="row">
        <div class="large-12 columns">
          <%= image_tag '/logo.gif' %>
          <h1>Give In Kind</h1>
        </div>
    </div>
</header>

